.SongList {
  border: 0.1rem solid $color10;
  margin-bottom: $offsetMedium;

  li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 0.1rem solid $color10;
    }
  }
}
